<form (ngSubmit)="save()" #filmModel="ngForm">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-content>
        <h3>Film</h3>
        <mat-form-field>
          <mat-label>Názov filmu</mat-label>
          <input matInput [(ngModel)]="editedFilm.nazov" name="nazov" required minlength="1" #nameModel="ngModel">
          <mat-error>
            @if(nameModel.errors) {
              @if(nameModel.errors['required']) {
                Názov filmu je potrebný  
              } @else if (nameModel.errors['minlength']) {
                Názov filmu musí mať aspoň {{nameModel.errors['minlength']}} znak
              }
            }
            </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Rok</mat-label>
          <input matInput type="rok" [(ngModel)]="editedFilm.rok" name="rok"  required minlength="4" required maxlength="4" #rokModel="ngModel" >
          <mat-error>
            @if(rokModel.errors) {
              @if(rokModel.errors['required']) {
                Rok je potrebný  
              }@else if (rokModel.errors['minlength']) {
                Rok musí mať aspoň {{rokModel.errors['minlength']['requiredLength']}} znaky
              } 
            }
            </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Slovenský názov filmu</mat-label>
          <input matInput [(ngModel)]="editedFilm.slovenskyNazov" name="SlovenskyNazov" required minlength="1" #nameSModel="ngModel">
          <mat-error>
            @if(nameSModel.errors) {
              @if(nameSModel.errors['required']) {
                Názov filmu je potrebný  
              } @else if (nameSModel.errors['minlength']) {
                Názov filmu musí mať aspoň {{nameSModel.errors['minlength']}} znak
              }
            }
            </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>imdbID</mat-label>
          <input matInput [(ngModel)]="editedFilm.imdbID" name="imbdID" required maxlength="9" #imdIDModel="ngModel">
          <mat-error>
          @if(nameSModel.errors) {
            @if(nameSModel.errors['maxlength']) {
              ImbdID môže mať mať najviac {{nameSModel.errors['minlength']}} znakov
          }
        }
          </mat-error>
        </mat-form-field>

      <h3>Režiséri</h3>
      <div *ngFor="let r of editedFilm.reziser; let i = index">
          <mat-form-field>
            <mat-label>ID režiséra</mat-label>
            <input matInput [(ngModel)]="r.id" name="reziserId{{i}}">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Krstné meno režiséra</mat-label>
            <input matInput [(ngModel)]="r.krstneMeno" name="reziserKrstne{{i}}">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Stredné meno režiséra</mat-label>
            <input matInput [(ngModel)]="r.stredneMeno" name="reziserStredne{{i}}">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Priezvisko režiséra</mat-label>
            <input matInput [(ngModel)]="r.priezvisko" name="reziserPriezvisko{{i}}">
          </mat-form-field>
          <button mat-raised-button type="button" (click)="removeReziser(i)">Odstrániť</button>
          <p></p> <!-- toto tu  je len aby  bol priestor ked sa prida novy reziser, len aby to lepsie vizualne vyzeralo-->
      </div>
      <button mat-raised-button type="button" (click)="addReziser()">Pridať</button>

      <h3>Postavy</h3>
      <div *ngFor="let p of editedFilm.postava; let j = index">
        <mat-form-field>
            <mat-label>Meno postavy</mat-label>
            <input matInput [(ngModel)]="p.postava" name="postavaMeno{{j}}">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Dôležitosť</mat-label>
          <mat-select [(ngModel)]="p.dolezitost" name="dolezitost{{j}}">
            <mat-option value="hlavná postava">hlavná postava</mat-option>
            <mat-option value="vedľajšia postava">vedľajšia postava</mat-option>
          </mat-select>
       </mat-form-field>
       <mat-form-field>
            <mat-label>ID herca</mat-label>
            <input matInput [(ngModel)]="p.herec.id" name="herecID{{j}}">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Meno herca</mat-label>
            <input matInput [(ngModel)]="p.herec.krstneMeno" name="herecMeno{{j}}">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Stredné meno herca</mat-label>
            <input matInput [(ngModel)]="p.herec.stredneMeno" name="herecSMeno{{j}}">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Priezvisko herca</mat-label>
            <input matInput [(ngModel)]="p.herec.priezvisko" name="herecPriezvisko{{j}}">
        </mat-form-field>
        <button mat-raised-button type="button" (click)="removePostava(j)">Odstrániť</button>
        <p></p> <!-- toto tu  je len aby  bol priestor ked sa prida nova postava, len aby to lepsie vizualne vyzeralo-->
      </div>
      <button mat-raised-button type="button" (click)="addPostava()">Pridať</button>


      <h3>Rebríčky</h3>
        <mat-form-field>
          <mat-label>AFI 1998</mat-label>
          <input matInput [(ngModel)]="afi1998" name="afi1998">
        </mat-form-field>

         <mat-form-field>
         <mat-label>AFI 2007</mat-label>
          <input matInput [(ngModel)]="afi2007" name="afi2007">
        </mat-form-field>
        
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-button [disabled]="filmModel.invalid">Save film</button>
      </mat-card-actions>
    </mat-card>
    </form>
